<div class="wrapper header-main">
<h2 class="header-main__title">Pokedex</h2>
  <form action="" method="get">
    <input class="header-search" type="text" placeholder="search by name..." name="s">
    <input type="hidden" name="post_type" value="pokemon">
    <input type="submit" value="Enviar">
  </form>
</div>
