{% extends 'layouts/base.twig' %}

{% block header %}
  {% include 'partials/header.twig' %}
{% endblock %}


{% block content %}

  {% if is_kili %}
    {% do action('page_blocks') %}
  {% else %}
    <section class="section-info">
      <h1>No pudo cargar el Kili</h1>
      {{post.content}}
    </section>
  {% endif %}

{% endblock %}

{% block footer %}
  {% include 'partials/footer.twig' %}
{% endblock %}