{% extends 'layouts/base.twig' %}

{% block header %}
    {% include 'partials/header.twig' %}
{% endblock %}

{% block content %}
    <h1>Esta es la taxonomia</h1>
{% endblock %}

{% block footer %}
    {% include 'partials/footer.twig' %}
{% endblock %}