@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

.section-pokemon {
  background: #FFF;

  &__front {
    padding: 1.5em;
  }

  &__img {
    width: 48px;
    float: left;
    margin-right: 1em;
  }

  &__elements {
    width: 100%;
    background: #3B3D4D;
    font-size: 15px;
    color: #FFFFFF;

    &-item {
      text-align: center;
      line-height: 21px;
      width: 49%;
      display: inline-block;
      padding: .7em;
      box-sizing: border-box;
      text-transform: capitalize;

      &:first-child {
        border-right: 1px solid #585B72;
      }
    }
  }
}

.section-tab {
  width: 100%;
  background: #FFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.20);
  border-radius: 4px;

  &__header {
    display: flex;
    flex-flow: row nowrap;
    color: #369BF8;
    font-size: 15px;
    font-weight: 300;
    cursor: pointer;
  }

  &__content {
    width: 100%;
    box-sizing: border-box;

    font-size: 12px;
    font-weight: 300;
    color: #3B3D4D;
    line-height: 21px;
    padding: 2em;

    &-item {
      margin-top: 0;
      margin-bottom: .5em;

      &-stat {
        text-transform: capitalize;
        display: inline-block;
        width: 18%;
        text-align: right;
        margin-right: 1em;        
      }

      &-ability {
        text-transform: capitalize;
        display: block;
      }

      &-progress {
        background: #3B3D4D;
        margin-right: .5em;
        height: .7em;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__stats, &__abilities, &__type {
    background: #F2F2F6;
    box-shadow: 0 1px 0 0 #E2E2E4;
    border-radius: 4px 4px 0 0;
    flex: 0 1 33.3%;
    padding: 1em;
    padding: 1.5em 2em;
    border-right: 1px solid #d2d2d2;
  }

  &__type {
    border-right: none;
  }
}

.open-tab {
  color: #000;
  background: #FFF;
  box-shadow: none;
}

.damage-item {
  display: block;
}

